<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="NewBehavior0" name="GameBUG.BugServer">
                <endpoint address="http://localhost:8080/BugRaceServ/ep1" binding="wsDualHttpBinding" bindingConfiguration="" contract="GameBUG.IBug" />
                <endpoint binding="mexHttpBinding" bindingConfiguration="" name="mex" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080/BugRaceServ/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
<connectionStrings><add name="BugGameEntities" connectionString="metadata=res://*/Database.csdl|res://*/Database.ssdl|res://*/Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.3.0.5;initial catalog=BugGame;persist security info=True;user id=sp2222;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>